<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>bootbox</string>
		<string>bootstrap-slider</string>
		<string>bootstrap-sweetalert</string>
		<string>calendar</string>
		<string>lightbox</string>
		<string>nestable</string>
		<string>notify</string>
		<string>progressbar</string>
		<string>tabdrop</string>
		<string>title-notifier</string>
		<string>waypoint</string>
		<string>weather</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
</dict>
</plist>
