<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>swf</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>dataTables.bootstrap.js</string>
		</array>
		<array>
			<string>dataTables.responsive.js</string>
		</array>
		<array>
			<string>dataTables.tableTools.js</string>
		</array>
		<array>
			<string>jquery.dataTables.js</string>
		</array>
		<array>
			<string>jquery.dataTables.min.js</string>
		</array>
	</array>
</dict>
</plist>
