<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>accordions.js</string>
		</array>
		<array>
			<string>blank.js</string>
		</array>
		<array>
			<string>calendar.js</string>
		</array>
		<array>
			<string>charts-chartjs.js</string>
		</array>
		<array>
			<string>charts-flot.js</string>
		</array>
		<array>
			<string>charts-morris.js</string>
		</array>
		<array>
			<string>charts-other.js</string>
		</array>
		<array>
			<string>code-editor.js</string>
		</array>
		<array>
			<string>dashboard.js</string>
		</array>
		<array>
			<string>email.js</string>
		</array>
		<array>
			<string>forms-advanced.js</string>
		</array>
		<array>
			<string>forms-basic.js</string>
		</array>
		<array>
			<string>forms-validation.js</string>
		</array>
		<array>
			<string>forms-wizard.js</string>
		</array>
		<array>
			<string>gallery.js</string>
		</array>
		<array>
			<string>icons.js</string>
		</array>
		<array>
			<string>list.js</string>
		</array>
		<array>
			<string>login.js</string>
		</array>
		<array>
			<string>maps-google.js</string>
		</array>
		<array>
			<string>maps-vector.js</string>
		</array>
		<array>
			<string>modals.js</string>
		</array>
		<array>
			<string>notifications.js</string>
		</array>
		<array>
			<string>profile.js</string>
		</array>
		<array>
			<string>progressbars.js</string>
		</array>
		<array>
			<string>sliders.js</string>
		</array>
		<array>
			<string>tables-ajax.js</string>
		</array>
		<array>
			<string>tables-basic.js</string>
		</array>
		<array>
			<string>tables-data.js</string>
		</array>
		<array>
			<string>tables-editable.js</string>
		</array>
		<array>
			<string>tabs.js</string>
		</array>
	</array>
</dict>
</plist>
