<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>comment</string>
		<string>dialog</string>
		<string>display</string>
		<string>edit</string>
		<string>fold</string>
		<string>hint</string>
		<string>lint</string>
		<string>merge</string>
		<string>mode</string>
		<string>runmode</string>
		<string>scroll</string>
		<string>search</string>
		<string>selection</string>
		<string>tern</string>
		<string>wrap</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
</dict>
</plist>
