<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>excanvas.js</string>
		</array>
		<array>
			<string>excanvas.min.js</string>
		</array>
		<array>
			<string>jquery.colorhelpers.js</string>
		</array>
		<array>
			<string>jquery.colorhelpers.min.js</string>
		</array>
		<array>
			<string>jquery.flot.canvas.js</string>
		</array>
		<array>
			<string>jquery.flot.canvas.min.js</string>
		</array>
		<array>
			<string>jquery.flot.categories.js</string>
		</array>
		<array>
			<string>jquery.flot.categories.min.js</string>
		</array>
		<array>
			<string>jquery.flot.crosshair.js</string>
		</array>
		<array>
			<string>jquery.flot.crosshair.min.js</string>
		</array>
		<array>
			<string>jquery.flot.curvedLines.js</string>
		</array>
		<array>
			<string>jquery.flot.custom.js</string>
		</array>
		<array>
			<string>jquery.flot.errorbars.js</string>
		</array>
		<array>
			<string>jquery.flot.errorbars.min.js</string>
		</array>
		<array>
			<string>jquery.flot.fillbetween.js</string>
		</array>
		<array>
			<string>jquery.flot.fillbetween.min.js</string>
		</array>
		<array>
			<string>jquery.flot.growraf.js</string>
		</array>
		<array>
			<string>jquery.flot.growraf.min.js</string>
		</array>
		<array>
			<string>jquery.flot.image.js</string>
		</array>
		<array>
			<string>jquery.flot.image.min.js</string>
		</array>
		<array>
			<string>jquery.flot.js</string>
		</array>
		<array>
			<string>jquery.flot.navigate.js</string>
		</array>
		<array>
			<string>jquery.flot.navigate.min.js</string>
		</array>
		<array>
			<string>jquery.flot.orderBars.js</string>
		</array>
		<array>
			<string>jquery.flot.pie.js</string>
		</array>
		<array>
			<string>jquery.flot.pie.min.js</string>
		</array>
		<array>
			<string>jquery.flot.resize.js</string>
		</array>
		<array>
			<string>jquery.flot.resize.min.js</string>
		</array>
		<array>
			<string>jquery.flot.selection.js</string>
		</array>
		<array>
			<string>jquery.flot.selection.min.js</string>
		</array>
		<array>
			<string>jquery.flot.stack.js</string>
		</array>
		<array>
			<string>jquery.flot.stack.min.js</string>
		</array>
		<array>
			<string>jquery.flot.symbol.js</string>
		</array>
		<array>
			<string>jquery.flot.symbol.min.js</string>
		</array>
		<array>
			<string>jquery.flot.threshold.js</string>
		</array>
		<array>
			<string>jquery.flot.threshold.min.js</string>
		</array>
		<array>
			<string>jquery.flot.time.js</string>
		</array>
		<array>
			<string>jquery.flot.time.min.js</string>
		</array>
		<array>
			<string>jquery.flot.tooltip.js</string>
		</array>
		<array>
			<string>jquery.flot.tooltip.min.js</string>
		</array>
	</array>
</dict>
</plist>
