<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>messages_ar.js</string>
		</array>
		<array>
			<string>messages_ar.min.js</string>
		</array>
		<array>
			<string>messages_bg.js</string>
		</array>
		<array>
			<string>messages_bg.min.js</string>
		</array>
		<array>
			<string>messages_ca.js</string>
		</array>
		<array>
			<string>messages_ca.min.js</string>
		</array>
		<array>
			<string>messages_cs.js</string>
		</array>
		<array>
			<string>messages_cs.min.js</string>
		</array>
		<array>
			<string>messages_da.js</string>
		</array>
		<array>
			<string>messages_da.min.js</string>
		</array>
		<array>
			<string>messages_de.js</string>
		</array>
		<array>
			<string>messages_de.min.js</string>
		</array>
		<array>
			<string>messages_el.js</string>
		</array>
		<array>
			<string>messages_el.min.js</string>
		</array>
		<array>
			<string>messages_es.js</string>
		</array>
		<array>
			<string>messages_es.min.js</string>
		</array>
		<array>
			<string>messages_es_AR.js</string>
		</array>
		<array>
			<string>messages_es_AR.min.js</string>
		</array>
		<array>
			<string>messages_et.js</string>
		</array>
		<array>
			<string>messages_et.min.js</string>
		</array>
		<array>
			<string>messages_eu.js</string>
		</array>
		<array>
			<string>messages_eu.min.js</string>
		</array>
		<array>
			<string>messages_fa.js</string>
		</array>
		<array>
			<string>messages_fa.min.js</string>
		</array>
		<array>
			<string>messages_fi.js</string>
		</array>
		<array>
			<string>messages_fi.min.js</string>
		</array>
		<array>
			<string>messages_fr.js</string>
		</array>
		<array>
			<string>messages_fr.min.js</string>
		</array>
		<array>
			<string>messages_gl.js</string>
		</array>
		<array>
			<string>messages_gl.min.js</string>
		</array>
		<array>
			<string>messages_he.js</string>
		</array>
		<array>
			<string>messages_he.min.js</string>
		</array>
		<array>
			<string>messages_hr.js</string>
		</array>
		<array>
			<string>messages_hr.min.js</string>
		</array>
		<array>
			<string>messages_hu.js</string>
		</array>
		<array>
			<string>messages_hu.min.js</string>
		</array>
		<array>
			<string>messages_id.js</string>
		</array>
		<array>
			<string>messages_id.min.js</string>
		</array>
		<array>
			<string>messages_is.js</string>
		</array>
		<array>
			<string>messages_is.min.js</string>
		</array>
		<array>
			<string>messages_it.js</string>
		</array>
		<array>
			<string>messages_it.min.js</string>
		</array>
		<array>
			<string>messages_ja.js</string>
		</array>
		<array>
			<string>messages_ja.min.js</string>
		</array>
		<array>
			<string>messages_ka.js</string>
		</array>
		<array>
			<string>messages_ka.min.js</string>
		</array>
		<array>
			<string>messages_kk.js</string>
		</array>
		<array>
			<string>messages_kk.min.js</string>
		</array>
		<array>
			<string>messages_ko.js</string>
		</array>
		<array>
			<string>messages_ko.min.js</string>
		</array>
		<array>
			<string>messages_lt.js</string>
		</array>
		<array>
			<string>messages_lt.min.js</string>
		</array>
		<array>
			<string>messages_lv.js</string>
		</array>
		<array>
			<string>messages_lv.min.js</string>
		</array>
		<array>
			<string>messages_my.js</string>
		</array>
		<array>
			<string>messages_my.min.js</string>
		</array>
		<array>
			<string>messages_nl.js</string>
		</array>
		<array>
			<string>messages_nl.min.js</string>
		</array>
		<array>
			<string>messages_no.js</string>
		</array>
		<array>
			<string>messages_no.min.js</string>
		</array>
		<array>
			<string>messages_pl.js</string>
		</array>
		<array>
			<string>messages_pl.min.js</string>
		</array>
		<array>
			<string>messages_pt_BR.js</string>
		</array>
		<array>
			<string>messages_pt_BR.min.js</string>
		</array>
		<array>
			<string>messages_pt_PT.js</string>
		</array>
		<array>
			<string>messages_pt_PT.min.js</string>
		</array>
		<array>
			<string>messages_ro.js</string>
		</array>
		<array>
			<string>messages_ro.min.js</string>
		</array>
		<array>
			<string>messages_ru.js</string>
		</array>
		<array>
			<string>messages_ru.min.js</string>
		</array>
		<array>
			<string>messages_si.js</string>
		</array>
		<array>
			<string>messages_si.min.js</string>
		</array>
		<array>
			<string>messages_sk.js</string>
		</array>
		<array>
			<string>messages_sk.min.js</string>
		</array>
		<array>
			<string>messages_sl.js</string>
		</array>
		<array>
			<string>messages_sl.min.js</string>
		</array>
		<array>
			<string>messages_sr.js</string>
		</array>
		<array>
			<string>messages_sr.min.js</string>
		</array>
		<array>
			<string>messages_sr_lat.js</string>
		</array>
		<array>
			<string>messages_sr_lat.min.js</string>
		</array>
		<array>
			<string>messages_sv.js</string>
		</array>
		<array>
			<string>messages_sv.min.js</string>
		</array>
		<array>
			<string>messages_th.js</string>
		</array>
		<array>
			<string>messages_th.min.js</string>
		</array>
		<array>
			<string>messages_tj.js</string>
		</array>
		<array>
			<string>messages_tj.min.js</string>
		</array>
		<array>
			<string>messages_tr.js</string>
		</array>
		<array>
			<string>messages_tr.min.js</string>
		</array>
		<array>
			<string>messages_uk.js</string>
		</array>
		<array>
			<string>messages_uk.min.js</string>
		</array>
		<array>
			<string>messages_vi.js</string>
		</array>
		<array>
			<string>messages_vi.min.js</string>
		</array>
		<array>
			<string>messages_zh.js</string>
		</array>
		<array>
			<string>messages_zh.min.js</string>
		</array>
		<array>
			<string>messages_zh_TW.js</string>
		</array>
		<array>
			<string>messages_zh_TW.min.js</string>
		</array>
		<array>
			<string>methods_de.js</string>
		</array>
		<array>
			<string>methods_de.min.js</string>
		</array>
		<array>
			<string>methods_es_CL.js</string>
		</array>
		<array>
			<string>methods_es_CL.min.js</string>
		</array>
		<array>
			<string>methods_fi.js</string>
		</array>
		<array>
			<string>methods_fi.min.js</string>
		</array>
		<array>
			<string>methods_nl.js</string>
		</array>
		<array>
			<string>methods_nl.min.js</string>
		</array>
		<array>
			<string>methods_pt.js</string>
		</array>
		<array>
			<string>methods_pt.min.js</string>
		</array>
	</array>
</dict>
</plist>
