<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>bootstrap-markdown.de.js</string>
		</array>
		<array>
			<string>bootstrap-markdown.fr.js</string>
		</array>
		<array>
			<string>bootstrap-markdown.ja.js</string>
		</array>
		<array>
			<string>bootstrap-markdown.kr.js</string>
		</array>
		<array>
			<string>bootstrap-markdown.nb.js</string>
		</array>
		<array>
			<string>bootstrap-markdown.nl.js</string>
		</array>
		<array>
			<string>bootstrap-markdown.ru.js</string>
		</array>
		<array>
			<string>bootstrap-markdown.sv.js</string>
		</array>
		<array>
			<string>bootstrap-markdown.tr.js</string>
		</array>
		<array>
			<string>bootstrap-markdown.ua.js</string>
		</array>
		<array>
			<string>bootstrap-markdown.zh.js</string>
		</array>
	</array>
</dict>
</plist>
