<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>bootstrap-datepicker.ar.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.az.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.bg.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.ca.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.cs.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.cy.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.da.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.de.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.el.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.es.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.et.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.fa.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.fi.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.fr.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.gl.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.he.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.hr.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.hu.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.id.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.is.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.it.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.ja.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.ka.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.kk.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.kr.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.lt.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.lv.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.mk.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.ms.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.nb.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.nl-BE.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.nl.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.no.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.pl.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.pt-BR.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.pt.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.ro.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.rs-latin.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.rs.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.ru.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.sk.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.sl.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.sq.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.sv.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.sw.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.th.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.tr.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.ua.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.vi.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.zh-CN.js</string>
		</array>
		<array>
			<string>bootstrap-datepicker.zh-TW.js</string>
		</array>
	</array>
</dict>
</plist>
