<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>coffeescript-lint.js</string>
		</array>
		<array>
			<string>css-lint.js</string>
		</array>
		<array>
			<string>javascript-lint.js</string>
		</array>
		<array>
			<string>json-lint.js</string>
		</array>
		<array>
			<string>lint.js</string>
		</array>
		<array>
			<string>yaml-lint.js</string>
		</array>
	</array>
</dict>
</plist>
