<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>autosize</string>
		<string>bootstrap-colorpicker</string>
		<string>bootstrap-datepicker</string>
		<string>bootstrap-filestyle</string>
		<string>bootstrap-markdown</string>
		<string>bootstrap-tagsinput</string>
		<string>bootstrap-timepicker</string>
		<string>bootstrap-wizard</string>
		<string>checkall</string>
		<string>codemirror</string>
		<string>dropzone</string>
		<string>dual-list-box</string>
		<string>fancyselect</string>
		<string>maskedinput</string>
		<string>maxlength</string>
		<string>select2</string>
		<string>spinner</string>
		<string>summernote</string>
		<string>validation</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
</dict>
</plist>
