<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>apl</string>
		<string>asterisk</string>
		<string>clike</string>
		<string>clojure</string>
		<string>cobol</string>
		<string>coffeescript</string>
		<string>commonlisp</string>
		<string>css</string>
		<string>cypher</string>
		<string>d</string>
		<string>diff</string>
		<string>django</string>
		<string>dockerfile</string>
		<string>dtd</string>
		<string>dylan</string>
		<string>ecl</string>
		<string>eiffel</string>
		<string>erlang</string>
		<string>fortran</string>
		<string>gas</string>
		<string>gfm</string>
		<string>gherkin</string>
		<string>go</string>
		<string>groovy</string>
		<string>haml</string>
		<string>haskell</string>
		<string>haxe</string>
		<string>htmlembedded</string>
		<string>htmlmixed</string>
		<string>http</string>
		<string>idl</string>
		<string>jade</string>
		<string>javascript</string>
		<string>jinja2</string>
		<string>julia</string>
		<string>kotlin</string>
		<string>livescript</string>
		<string>lua</string>
		<string>markdown</string>
		<string>mirc</string>
		<string>mllike</string>
		<string>modelica</string>
		<string>nginx</string>
		<string>ntriples</string>
		<string>octave</string>
		<string>pascal</string>
		<string>pegjs</string>
		<string>perl</string>
		<string>php</string>
		<string>pig</string>
		<string>properties</string>
		<string>puppet</string>
		<string>python</string>
		<string>q</string>
		<string>r</string>
		<string>rpm</string>
		<string>rst</string>
		<string>ruby</string>
		<string>rust</string>
		<string>sass</string>
		<string>scheme</string>
		<string>shell</string>
		<string>sieve</string>
		<string>slim</string>
		<string>smalltalk</string>
		<string>smarty</string>
		<string>smartymixed</string>
		<string>solr</string>
		<string>sparql</string>
		<string>sql</string>
		<string>stex</string>
		<string>tcl</string>
		<string>textile</string>
		<string>tiddlywiki</string>
		<string>tiki</string>
		<string>toml</string>
		<string>tornado</string>
		<string>turtle</string>
		<string>vb</string>
		<string>vbscript</string>
		<string>velocity</string>
		<string>verilog</string>
		<string>xml</string>
		<string>xquery</string>
		<string>yaml</string>
		<string>z80</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
</dict>
</plist>
